@font-face {
    font-family: Montserrat-ExtraLight;
    src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

/* body's start */
body {
    height: 100%;
}

a, input[type="search"], .video-button {
    outline: none;
}

ul, h4, h3, h2, h1, p, span, time, .s8 .form {
    cursor: default;
}

/* container's start */
.container {
    width: 1920px;
    min-height: 100%;
    margin: 0px auto;
    outline: 1px solid #e9eaec;
}

/* header's start */
.header {
    padding: 40px 0px 30px 0px;
    background-image: url(../img/header_img.png);
    background-color: rgba(17, 17, 17, 0.7);
    background-position: center;
    background-repeat: no-repeat;
}

.header:hover {
    filter: brightness(80%);
}

.logo {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    margin: 10px 0px 0px 375px;
    text-decoration: none;
}

.logo:hover {
    transform: scale(1.02);
}

.logo-svg {
    fill: #ffffff;
}

.logo:hover .logo-svg {
    fill: gray;
    stroke: #ffffff;
}

.logo:active .logo-svg {
    fill: #ffffff;
}

.logo-txt {
    text-align: right;
    font-family: Raleway-Regular;
    font-size: 34px;
    color: #ffffff;
    cursor: pointer;
}

.logo:hover .logo-txt {
    color: gray;
}

.logo:active .logo-txt {
    color: #ffffff;
}

label, #menu {
    display: none;
}

input[type="checkbox"]:checked ~ .menu {
    visibility: visible;
}

.menu {
    margin: 15px 0px 0px 730px;
}

.menu li {
    display: inline-block;
    padding: 5px 0px;
}

.menu li a {
    padding: 5px 8px 5px 10px;
    text-decoration: none;
    font-family: Montserrat-Light;
    font-size: 14px;
    color: #ffffff;
}

.menu li a:hover {
    color: gray;
}

.menu li a:active {
    color: #ffffff;
}

.cart {
    margin: 0px 20px 0px 30px;
    background-image: url(../img/icon-cart.png);
    background-position: center;
    background-repeat: no-repeat;
}

input[type="search"] {
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
    padding: 7px 0px 7px 7px;
    color: #ffffff;
    background-image: url(../img/icon-search.png);
    background-color: transparent;
    background-position: 7px center;
    background-repeat: no-repeat;
    border: 1px solid lightgray;
    border-radius: 5px;
}

input[type="search"]:focus {
    width: 160px;
    background: none;
    border: 1px solid #ffffff;
}

/* first section's start */
.carousel {
    display: flex;
    justify-content: space-between;
    margin-top: 260px;
}

.left, .right  {
    height: 150px;
    margin-top: 100px;
    font-size: 150px;
    color: white;
    opacity: 0.5;
}

.left {
    margin-left: 150px;
}

.right {
    margin-right: 150px;
}

.left:hover, .right:hover {
    color: lightyellow;
    opacity: 0.8;
}

.left:active, .right:active {
    color: white;
    opacity: 0.5;
}

.center h2 {
    text-align: center;
    font-family: Raleway-Medium;
    font-size: 36px;
    color: #ffffff;
}

.center h1 {
    margin: 10px 0px 15px 0px;
    font-family: Raleway-ExtraBold;
    font-size: 52px;
    color: #ffffff;
}

.center p {
    width: 570px;
    text-align: center;
    font-family: Montserrat-Light;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.button {
    display: block;
    margin: 40px 200px 270px 200px;
    padding: 20px 1px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: Raleway-ExtraBold;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    box-shadow: inset 0px -3px 0px #736357;
    background-color: #998675;
    border-radius: 5px;
    opacity: 0.9;
}

.button:hover {
    padding: 19px 0px;
    border: 1px solid #d3c1ad;
    opacity: 1.0;
}

.button:active {
    padding: 20px 1px;
    border: none;
    opacity: 0.9;
}
/* first section's end */

.navbar {
    display: flex;
    justify-content: center;
    padding: 30px 0px 0px 0px;
}

.navbar a {
    width: 11px;
    height: 11px;
    margin: 3px 5px;
    background-color: #ffffff;
    border-radius: 50px;
    opacity: 0.5;
}

.navbar a:hover {
    width: 13px;
    height: 13px;
    margin: 0px 2px;
    background: none;
    border: 2px solid #ffffff;
}
/* header's end */

/* main's start */

/* second section's start */
.s2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 80px 350px;
}

.s2 div {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;
}

.s2 svg {
    fill: #555555;
}

.s2 div:hover svg {
    fill: #c7b299;
}

.s2 h3 {
    margin: 20px 0px;
    font-family: Raleway-SemiBold;
    font-size: 22px;
    color: #555555;
}

.s2 div:hover h3 {
    color: #c7b299;
}

.s2 p {
    width: 100%;
    text-align: center;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 24px;
    color: #8c8c8c;
}

.s2 div:after {
    content: url(../img/line.png);
}

.s2 div:hover:after {
    content: url(../img/lines.png);
}
/* second section's end */

/* third section's start */
.s3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfaf8;
}

.s3 h2 {
    padding-top: 80px;
    font-family: Raleway-SemiBold;
    font-size: 30px;
    color: #555555;
}

.s3 p {
    width: 42%;
    margin: 20px 0px 40px 0px;
    text-align: center;
    font-family: Montserrat-Light;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
}

.s3 div {
    width: 100%;
    min-height: 482px;
    background-image: url(../img/browser-center.png), url(../img/browser-right.png), url(../img/browser-left.png);
    background-color: #fbfaf8;
    background-position: center, 805px bottom, 345px bottom;
    background-repeat: no-repeat;
}
/* third section's end */

/* aside's start */
aside {
    padding-top: 50px;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    background-color: #4e3427;
    background-repeat: no-repeat;
}

aside h2 {
    float: left;
    margin: 0px 0px 10px 375px;
    font-family: Raleway-Regular;
    font-size: 28px;
    color: #ffffff;
}

aside h2:before {
    content: "Waxom";
    color: #c7b299;
}

aside span {
    clear: left;
    display: block;
    margin-bottom: 80px;
    padding: 0px 0px 50px 375px;
    font-family: Montserrat-Light;
    font-size: 18px;
    color: #615855;
}

.purchase {
    float: right;
    display: block;
    margin-right: 380px;
    padding: 20px 30px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: Raleway-ExtraBold;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    box-shadow: inset 0px -3px 0px #736357;
    background-color: #998675;
    border-radius: 5px;
    opacity: 0.9;
}

.purchase:hover {
    padding: 19px 29px;
    border: 1px solid #d3c1ad;
    opacity: 1.0;
}

.purchase:active {
    padding: 20px 30px;
    border: none;
    opacity: 0.9;
}
/* aside's end */

/* fourth section's start */
.s4 {
    margin-bottom: 80px;
}

.s4 h2 {
    text-align: center;
    font-family: Raleway-SemiBold;
    font-size: 30px;
    color: #555555;
}

.s4 p {
    width: 42%;
    margin: 20px auto 40px auto;
    text-align: center;
    font-family: Montserrat-Light;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
}

.s4 ul {
    text-align: center;
}

.s4 ul li {
    display: inline-block;
}

.s4 ul li a {
    margin: 0px 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 21px;
    color: #8c8c8c;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

.s4 ul li a:hover {
    color: #ffffff;
    background-color: #998675;
}

.s4 ul li a:active {
    color: #8c8c8c;
    background-color: #ffffff;
}

.articles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 375px;
}

.articles div {
    position: relative;
}

.articles div:after {
    content: url(../img/arrowa.png);
    position: absolute;
    top: 223px;
    left: 20px;
}

.articles div:hover img {
    filter: brightness(80%);
}

.articles div:hover:after {
    content: url(../img/arrowb.png);
}

.articles div:hover span {
    background-color: #362f2d;
}

.articles div:hover button {
    display: block;
}

.articles img, .articles span, .load {
    display: block;
}

.article1, .article2, .article3 {
    margin-bottom: 30px;
}

.text {
    padding: 30px 0px 10px 30px;
    font-family: Raleway-Medium;
    font-size: 20px;
    color: #c7b299;
    background-color: #fbfaf8;
}

.txt {
    padding: 0px 0px 25px 30px;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 20px;
    color: #d1d1d1;
    background-color: #fbfaf8;
}

.articles button {
    position: absolute;
    display: none;
    background: none;
    border: none;
    transition: 0.5s;
}

.articles button:hover {
    transform: scale(1.1) rotate(30deg);
    cursor: pointer;
}

.button_link {
    top: 100px;
    left: 140px;
}

.button_lupa {
    top: 100px;
    left: 200px;
}

.articles svg {
    fill: #ffffff;
}

.articles svg:hover {
    fill: lightyellow;
}

.articles svg:active {
    fill: #ffffff;
}

.load {
    width: 9%;
    margin: 0px auto;
    padding: 20px 5px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-family: Raleway-ExtraBold;
    font-size: 14px;
    line-height: 23px;
    color: #ffffff;
    box-shadow: inset 0px -3px 0px #736357;
    background-color: #998675;
    border-radius: 5px;
    opacity: 0.9;
}

.load:hover {
    padding: 19px 4px;
    border: 1px solid #d3c1ad;
    opacity: 1.0;
}

.load:active {
    padding: 20px 5px;
    border: none;
    opacity: 0.9;
}
/* fourth section's end */

/* fifth section's start */
.s5 {
    position: relative;
    margin-bottom: 80px;
}

.s5 div {
    width: 30%;
    position: absolute;
    top: 200px;
    left: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-button {
    width: 100px;
    height: 100px;
    display: block;
    background-image: url(../img/icon-play.png);
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
    border-radius: 50px;
    transition: 0.15s;
    opacity: 0.5;
    cursor: pointer;
}

.video-button:hover {
    transform: scale(1.015);
    opacity: 0.7;
}

.video-button:active {
    opacity: 0.5;
}

.s5 h2 {
    margin-top: 45px;
    font-family: Raleway-Medium;
    font-size: 30px;
    color: #ffffff;
}

.s5 p {
    width: 100%;
    margin: 30px 0px;
    text-align: center;
    font-family: Montserrat-Light;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}

.s5 time {
    font-family: Montserrat-Regular;
    font-size: 14px;
    font-weight: bolder;
    line-height: 24px;
    color: #c7b299;
}
/* fifth section's end */

/* sixth sections's start */
.s6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/iPhone.jpg);
    background-position: 420px 0px;
    background-repeat: no-repeat;
}

.s6 h2 {
    margin: 115px 0px 0px 260px;
    font-family: Raleway-SemiBold;
    font-size: 30px;
    color: #555555;
}

.s6 p {
    width: 35%;
    margin: 40px 0px 40px 520px;
    font-family: Montserrat-Light;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
}

.s6 ul {
    margin: 0px 0px 105px 520px;
}

.s6 ul li {
    padding: 5px 0px 5px 40px;
    list-style-type: none;
    font-family: Montserrat-Light;
    color: #8c8c8c;
    font-size: 16px;
    line-height: 32px;
    background-image: url(../img/01.png);
    background-position: left;
    background-repeat: no-repeat;
}
/* sixth sections's end */

/* seventh sections's start */
.s7 {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    background-color: #f4f5f8;
    background-repeat: no-repeat;
}

.s7 figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 35px;
}

.s7 svg {
    fill: lightyellow;
}

.s7 h4 {
    margin: 30px 0px 20px 0px;
    text-align: center;
    font-family: Montserrat-ExtraLight;
    font-size: 48px;
    line-height: 36px;
    color: #ffffff;
}

.inscription {
    width: 100%;
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 20px;
    color: lightyellow;
}

.s7 figure:after {
    content: url(../img/line-img.png);
}
/* seventh sections's end */

/* eighth sections's start */
.s8 h2 {
    margin-top: 80px;
    font-family: Raleway-SemiBold;
    font-size: 30px;
    color: #555555;
}

.s8 p {
    width: 43%;
    margin: 30px auto 40px auto;
    font-family: Montserrat-Light;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
}

.s8 h2, .s8 p {
    text-align: center;
}

.preview {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.preview article {
    width: 360px;
    position: relative;
    margin: 0px 15px;
    outline: 1px solid #f8f8f8;
}

.preview article:hover {
    background-color: #362f2d;
}

.preview article:hover img {
    filter: brightness(80%);
}

.preview article:hover h3 {
    color: lightyellow;
}

.preview article:hover .texting {
    color: lightyellow;
}

.preview article:hover time {
    background-color: #363636;
}

.preview article:hover .month {
    background-color: #252525;
}

.s8 img, .s8 span, .read {
    display: block;
}

.s8 h3 {
    margin: 30px 0px 30px 30px;
    font-family: Raleway-Medium;
    font-size: 20px;
    color: #555555;
}

.texting {
    margin: 20px 35px 30px 30px;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 22px;
    color: #8c8c8c;
}

.read {
    margin: 0px 237px 30px 30px;
    text-decoration: none;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 20px;
    color: #c7b299;
}

.read:after {
    content: url(../img/arrow.png);
    margin-left: 10px;
}

.s8 time {
    width: 15%;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 0px 7px 0px;
    text-align: center;
    font-family: Montserrat-Light;
    font-size: 24px;
    line-height: 20px;
    color: #ffffff;
    background-color: #c7b299;
    border-radius: 3px 3px 0px 0px;
}

.month {
    width: 15%;
    position: absolute;
    top: 55px;
    left: 20px;
    text-align: center;
    font-family: Roboto-Regular;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    background-color: #a48d72;
    border-radius: 0px 0px 3px 3px;
}

.s8 .form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.s8 button {
    width: 22px;
    height: 22px;
    margin: 0px 5px;
    background: none;
    border: none;
}

.s8 button:hover {
    cursor: pointer;
}

.s8 button:focus {
    outline: none;
}

.s8 svg {
    fill: #d1d1d1;
}

.s8 svg:hover {
    fill: #c7b299;
}

.s8 svg:active {
    fill: #d1d1d1;
}
/* eighth sections's end */

/* nineth sections's start */
.s9 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding: 140px 0px 134px 0px;
    background-image: url(../img/photo.jpg);
    background-color: rgba(17, 17, 17, 0.7);
    background-position: center;
    background-repeat: no-repeat;
}

.s9 a {
    margin: 0px 45px;
}

.s9 a:hover {
    outline: 1px solid #c7b299;
}

img[alt="logo-1"], img[alt="logo-3"] {
    padding-top: 40px;
}

img[alt="logo-4"] {
    padding-top: 20px;
}
/* nineth sections's end */

/* tenth section's start */
.s10 {
    display: flex;
    justify-content: center;
    padding: 80px 0px;
    background-color: #191919;
}

.block1, .block2, .block3, .block4 {
    width: 15%;
    margin: 0px 25px;
}

.block2, .block3, .block4 {
    margin-top: 30px;
}

.logotype {
    width: 181px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.logotype:hover {
    transform: scale(1.02);
}

.logotype svg {
    fill: #ffffff;
}

.logotype:hover svg {
    fill: #c7b299;
    stroke: #ffffff;
}

.logotype:active svg {
    fill: #ffffff;
}

.logotype-txt {
    text-align: right;
    font-family: Raleway-Regular;
    font-size: 34px;
    color: #ffffff;
    cursor: pointer;
}

.logotype:hover .logotype-txt {
    color: #c7b299;
}

.logotype:active .logotype-txt {
    color: #ffffff;
}

.s10 h3 {
    font-family: Raleway-Bold;
    font-size: 24px;
    color: #ffffff;
}

.s10 p {
    margin: 30px 0px;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
}

.read_more {
    display: block;
    margin-right: 175px;
    text-decoration: none;
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 20px;
    color: #d1d1d1;
}

.read_more:after {
    content: url(../img/arroww.png);
    margin-left: 10px;
}

.read_more:hover {
    color: #c7b299;
}

.read_more:hover:after {
    content: url(../img/arrow.png);
}

.post time {
    display: block;
    margin-top: 20px;
    font-family: Montserrat-Light;
    font-size: 12px;
    line-height: 20px;
    color: #363636;
}

.post a {
    display: block;
    margin-top: 5px;
    text-decoration: none;
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
}

.post:after {
    content: url(../img/post_line.png);
}

.post:hover time {
    color: #ffffff;
}

.post:hover a {
    color: #c7b299;
}

.twitter {
    margin-top: 20px;
}

.twitter span {
    font-family: Montserrat-Light;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
}

.twitter .sp {
    color: #00bff3;
}

.twitter .spp {
    color: #959595;
}

.twitter .ago {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #363636;
}

.twitter .ago:after {
    content: url(../img/post_line.png);
}

.images {
    margin-top: 15px;
}

.images a {
    width: 130px;
    height: 98px;
    display: inline-block;
    margin: 5px 10px 5px 0px;
}

.images a:hover {
    outline: 1px solid #c7b299;
    opacity: 0.9;
}
/* tenth section's end */

/* main's end */

/* footer's start */
.footer {
    display: flex;
    padding: 45px 0px 50px 0px;
    background-color: #111111;
}

.footer div {
    display: flex;
    margin: 0px auto;
}

.sp1, .sp2, .sp3 {
    font-family: Montserrat-Light;
    font-size: 13px;
    line-height: 20px;
    color: #555555;
}

.sp1:after {
    content: "Waxom";
    margin-right: 10px;
    font-family: Montserrat-Light;
    font-size: 13px;
    line-height: 20px;
    color: #959595;
}

.ilink {
    padding-right: 10px;
    text-decoration: none;
    font-family: Montserrat-Light;
    font-size: 13px;
    line-height: 20px;
    color: #555555;
}

.ilink:before {
    content: "|";
    margin-right: 10px;
    font-family: Montserrat-Light;
    font-size: 13px;
    line-height: 20px;
    color: #555555;
}

.ilink:hover {
    color: #c7b299;
}

.sp2:after {
    content: "ThemeFire";
    margin-right: 10px;
    color: #959595;
}

.sp3:before {
    content: "|";
    margin-right: 10px;
    font-family: Montserrat-Light;
    font-size: 13px;
    line-height: 20px;
    color: #555555;
}

.sp3:after {
    content: "EnvatoMarket";
    color: #959595;
}
/* footer's end */

/* container's end */

/* body's end */

/* media queries */
@media (max-width: 575.98px) {
    /* body's start */

    /* container's start */
    .container {
        width: 100%;
        outline: none;
    }

    /* header's start */
    .header {
        width: 100%;
        height: 60px;
        padding: 10px 0px 10px 0px;
        background-image: url(../img/header_image.png);
        background-color: rgba(17, 17, 17, 0.7);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo {
        width: 35%;
        margin: 5px 0px 0px 20px;
    }

    .logo-txt {
        font-size: 26px;
    }

    label {
        width: 35px;
        height: 35px;
        float: right;
        display: block;
        margin: 15px 25px 0px 0px;
        background-image: url(../img/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 70px auto 0px auto;
        background-color: #ffffff;
        visibility: hidden;
    }

    .menu li {
        height: 20px;
        margin-top: 2px;
        text-align: center;
        background-color: darkcyan;
    }

    .menu li:nth-child(n+9) {
        display: none;
    }

    .menu li a {
        padding: 5px 25px;
        font-size: 18px;
        font-weight: bolder;
        color: #ffffff;
    }

    /* first section's start */
    .carousel {
        display: none;
    }
    /* first section's end */

    .navbar {
        display: none;
    }
    /* header's end */

    /* main's start */

    /* second section's start */
    .s2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 10px auto;
    }

    .s2 div {
        width: 45%;
        margin: 10px 10px 10px 5px;
    }

    .s2 h3 {
        margin: 20px 0px;
        font-size: 18px;
    }

    .s2 p {
        font-size: 12px;
    }
    /* second section's end */

    /* third sections's start */
    .s3 {
        display: none;
    }
    /* third sections's end */

    /* aside's start */
    aside {
        display: none;
    }
    /* aside's end */

    /* fourth sections's start */
    .s4 {
        width: 100%;
        margin: 40px 0px 0px 0px;
    }

    .s4 h2 {
        font-size: 22px;
    }

    .s4 p {
        width: 100%;
        margin-bottom: 0px;
    }

    .s4 ul, .articles, .load {
        display: none;
    }
    /* fourth sections's end */

    /* fifth sections's start */
    .s5 {
        width: 100%;
        margin-bottom: 30px;
    }

    .s5 video {
        width: 100%;
        height: auto;
    }

    .s5 div {
        width: 80%;
        top: 45px;
        left: 45px;
    }

    .video-button {
        width: 80px;
        height: 80px;
        visibility: hidden;
    }

    .s5 h2 {
        margin-top: 15px;
        font-size: 18px;
    }

    .s5 p, .s5 time {
        display: none;
    }
    /* fifth sections's end */

    /* sixth sections's start */
    .s6 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../img/i_Phone.jpg);
        background-position: 10px 200px;
        background-repeat: no-repeat;
    }

    .s6 h2 {
        width: 100%;
        margin: 0px auto;
        text-align: center;
        font-size: 22px;
    }

    .s6 p {
        width: 90%;
        margin: 15px auto;
        font-size: 14px;
        line-height: 20px;
    }

    .s6 ul {
        margin-left: 150px;
    }

    .s6 ul li {
        padding: 3px 0px 3px 30px;
        font-size: 12px;
        line-height: 16px;
    }
    /* sixth sections's end */

    /* seventh sections's start */
    .s7 {
        display: none;
    }
    /* seventh sections's end */

    /* eighth sections's start */
    .s8 {
        width: 100%;
    }

    .s8 h2 {
        margin-top: 0px;
        font-size: 22px;
    }

    .s8 p {
        width: 90%;
        margin: 20px auto;
        font-size: 14px;
        line-height: 20px;
    }

    .preview {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    .preview article {
        margin: 15px auto;
    }

    .read {
        margin-bottom: 5px;
    }
    /* eighth sections's end */

    /* nineth sections's start */
    .s9 {
        margin-top: 0px;
        padding: 13px 0px;
        background-size: cover;
    }

    .s9 a {
        margin: 0px 7px;
    }

    .s9 img {
        width: 80px;
        height: 65px;
        padding-top: 0px;
    }
    /* nineth sections's end */

    /* tenth section's start */
    .s10 {
        display: none;
    }
    /* tenth section's end */

    /* main's end */

    /* footer's start */
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 35px 0px 20px 0px;
        background-color: #111111;
    }

    .footer div {
        margin: 10px auto;
    }

    .sp1, .sp2, .sp3 {
        font-size: 12px;
        line-height: 16px;
    }

    .sp1:after {
        margin-right: 5px;
        font-size: 12px;
        line-height: 16px;
    }

    .ilink {
        padding-right: 5px;
        font-size: 12px;
        line-height: 16px;
    }

    .ilink:before {
        margin-right: 5px;
        font-size: 12px;
        line-height: 16px;
    }

    .sp2:after {
        margin-right: 5px;
    }

    .sp3:before {
        margin-right: 5px;
        font-size: 12px;
        line-height: 16px;
    }
    /* footer's end */

    /* container's end */

    /* body's end */
}